<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p><b> Hello! </b> {{user}} </p>
        <p><b> Firstname: </b> {{fname}}
        <p><b> Firstname: </b> {{fname|upper}}
        <p><b> Lastname: </b> {{lname}}
        <p><b> age: </b> {{age}}
        <p><b> Motto:</b> {{paragraph}} </p> 
        <p><b> Motto: </b> {{paragraph1|truncatewords:5}} </p>
        <p><b> Motto: </b> {{paragraph1|capfirst}} </p>
        <p><b> Motto: </b> {{paragraph1|lower}} </p>
        <p><b> Motto length : </b> {{paragraph|length}} </p>
        <p><b> Motto: </b> {{paragraph1|lower}} </p>
        <p><b> Motto in Capital First Letter: </b> {{paragraph1|title}} </p>
        <p><b> First 5 words in Motto: </b> {{paragraph1|truncatewords:5}} </p>
        <p><b>First 5 words in Motto with first words in Capital: </b> {{paragraph1|truncatewords:5|title}} </p>
    </body>
